/* NEW STYLING */

/* CAROUSEL */

#carouselExampleIndicators {
   height:700px !important; 
   padding-left: 80px !important; 
   padding-right: 80px !important; 
   background-color: #fafafa !important; 
}

#HP-carousel-inner {
    height:650px !important;
}

        /* Title*/

.HPCarousel-item-title {
    position: absolute; 
    z-index: 10; /*makes it on top of the carousel*/
    color: black; 
    background-color: white; 
    top:350px; 
    right:150px; 
    opacity: .55; 
    width: 450px; 
    border-radius: 15px
}

.HPCarousel-item-title > h3 {
    font-size: 32px; 
    }

        /* Blog Text */

.HPCarousel-item-text {
    position: absolute; 
    z-index: 10; 
    color: black; 
    background-color: white; 
    top:400px; 
    right:150px; 
    opacity: .55;
    width: 450px; 
    height: 200px; 
    border-radius: 15px;
    text-align: center;
}
.HPCarousel-item-text> p {
    font-size: 14px; 
    padding: 5px;
}

        

/* CATEGORIES */

.categories-container {
  width: calc(100% / 3);
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  float: left;
}

.categories-img {
  display: inline;
}


/* ALL BLOGS GRID*/

/* LAYOUT */

main {
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.gallery-item img {
    display: block;
}

.blog-container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}


.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: white;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
    
}

.gallery-item-info li {
    font-size: 25px;
    color: white;
}




.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}