*{
margin: 0;
padding:0;
}

/*FOOTER STYLING*/

footer {
    background: #3F7CAC;
    color: white;
    text-align: center;
    postion: relative;
    margin-top: 70px;

}

.copyright {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 12px;
}

#info {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    
}

#info li {
    padding: 5px;
}

.sm {
    display: inline-block;
    font-size: 10px;
    margin-top: 10px;
        
}
/* for future reference create a div around the whole body of the page and another
div with the an id main and style this with overflow: auto;*/
